{% comment %}
  Компонент свотча (swatch input).
  Параметри:
  - id: унікальний id для input
  - type: тип input ('radio' або 'checkbox', за замовчуванням 'radio')
  - name: ім'я input
  - value: значення input
  - swatch: обʼєкт swatch (для візуалізації кольору або зображення)
  - product_form_id: id форми, з якою повʼязаний input
  - checked: чи вибраний input за замовчуванням (true/false)
  - disabled: чи вимкнений input (true/false)
  - visually_disabled: стиль як disabled, але input активний
  - shape: форма свотча ('square' або circle за замовчуванням)
  - help_text: додатковий текст поруч зі свотчем (опційно)
  - additional_props: додаткові атрибути для input (опційно)

  Приклад використання:
   {% render 'swatch-input',
      id: input_id,
      name: input_name,
      value: input_value,
      swatch: swatch,
      product_form_id: product_form_id,
      checked: checked
    %}
{% endcomment %}

<input
  type="{{ type | default: 'radio' }}"
  id="{{ id }}"
  name="{{ name }}"
  value="{{ value }}"
  form="{{ product_form_id }}"
  class="swatch-input__input{% if visually_disabled %} visually-disabled{% endif %}"
  {% if checked %}checked{% endif %}
  {% if disabled %}disabled{% endif %}
  {% if additional_props %}{{ additional_props }}{% endif %}
>
<label
  for="{{ id }}"
  title="{{ value }}"
  class="swatch-input__label{% if shape == 'square' %} swatch-input__label--square{% endif %}"
>
  {% render 'swatch', swatch: swatch, shape: shape %}
  {{ help_text }}
</label>
